<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   test.plist
   testPodSpec3

   Created by 朱封毅 on 01/03/16.
   Copyright (c) 2016年 tairan. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
